.container { 
    display: grid;
    /* height: 100vh;
    width: 100vw; */
   grid-template-columns: 1fr;
   grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "header"
      "dream-photo" 
      "dreams"
      "buisness-photo" 
      "professional"
      "singing-photo" 
      "hobbies";
     
     
}

#picture {
    grid-area: picture;
    /* grid-column: 1/2;
    grid-row: 1/2; */
  }
  #header {
    grid-area: header;
    /* grid-column: 2/2;
    grid-row: 2/1; */
    text-align: center;
    color:rgb(71, 33, 207)
  }
  
  #dream-photo {
    grid-area: dream-photo;
  }
  #dreams{
    grid-area: dreams;
    /* grid-column: 1/2;
    grid-row: 3/4; */
  }

  #singing-photo {
    grid-area: singing-photo;
    /* grid-column: 1/2;
    grid-row: 5/6; */
  }
  #hobbies {
    grid-area: hobbies;
    /* grid-column: 2/2;
    grid-row: 5/6; */
  }
 
  #professional {
    grid-area: professional;
    /* grid-column: 2/2;
    grid-row: 2/3; */
  }

  
  #buisness-photo {
      grid-area: buisness-photo;
      /* grid-column: 1/2;
      grid-row: 3/4; */
  }



 @media (min-width: 576px) {
     .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header"
            "dream-photo dreams"
            "professional buisness-photo" 
            "singing-photo hobbies";
     }

  

    } 
 
    h2, p {
    
        color: green;

    }




@media (min-width: 992px) {

    body {
        background-color: black;
     }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            ". header header ."
            ". dream-photo dreams ."
            ". professional buisness-photo ." 
            ". singing-photo hobbies .";
     }

     h1{
        font-size: 60px;
    }

    h2, p {
        color: rgb(71, 33, 207);
    }

    .one, .two, .three {
        background-color: black;
    }
}  